@charset "utf-8";

/* Spoqa Han Sans Neo 100T 300L 400R 500M 700B */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* reset, common */
:root{
    --color-primary: #F26E22;
    --color-primary-disabled: #FFC7A7;
    --color-primary-bg: #EA7F42;
    --color-txt1: #767676;
    --color-txt2: #333333;
    --color-txt3: #c4c4c4;
    --color-txt4: #dbdbdb;
    --color-warn: #EB5757;
}
*{margin:0;padding:0;box-sizing: border-box;font-weight: 400;font-family: 'Spoqa Han Sans Neo', 'sans-serif';-webkit-tap-highlight-color : transparent !important;}
li{list-style: none;}
a, a:focus{text-decoration: none;color:inherit;background: inherit;}
img{max-width:100%;}

/* custom ---------------------------------------- */
body{min-width: 320px;}
.displaynone{display: none !important;}
.ddd{width:100%;height:100dvh;display:flex;align-items: center;justify-content: center;font-size:20px;color:gray;background: #e0e0e0;}

.pd35{padding:0 35px;}

textarea:focus, textarea:focus-visible, textarea:focus-within, textarea:active,
input:focus, input:focus-visible, input:focus-within, input:active{outline: none;}
input:autofill, input:autofill:hover, input:autofill:focus, input:autofill:active {
    -webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

    /* btn */
    .btnCustom{border:1px solid var(--color-primary);color:white;background: var(--color-primary);border-radius: 25%;font-size:14px;font-weight: 500;padding:5px 10px;display: flex;align-items: center;justify-content: center;transition: 0.2s;width:fit-content}
    .btnCustom:disabled{background: var(--color-primary-disabled);border-color: var(--color-primary-disabled);}
    .btnCancle{background:white;color: var(--color-txt1);border-color: var(--color-txt4);}
    .btnL{height:44px;padding:0 33px;border-radius: 44px;}
    .btnM{height:34px;min-width:120px;border-radius: 30px;padding:0 40px}
    .btnMS{height:32px;min-width:90px;border-radius: 32px;padding:0 24px}
    .btnS{height:28px;min-width:56px;border-radius: 26px;font-size:12px;padding:0 10px;font-weight: 400;}
    
    /* main */
    .tabMenu{height:60px;display:block;padding:0 6px;position: fixed;left:0;bottom:0;z-index: 99;width:100%;border-top:1px solid #DBDBDB;}

    #header{height:48px;border-bottom:1px solid var(--color-txt4);padding:0 15px;display:flex;align-items: center;justify-content: space-between;position: fixed;top:0;left:0;width: 100%;background:white;}
    #header h2{font-size:18px;font-weight: 500;}
    #header h3{font-size:14px;font-weight: 500;}
    #header > span img{display: block;}

    #contents{padding-top:48px;min-height:calc(100dvh - 60px);background: white;}
    #contents.noheader{padding:0;min-height: 100dvh;}

    .nodata{display:flex;flex-direction: column;align-items: center;justify-content: center;font-size:14px;color:var(--color-txt1);min-height:calc(100dvh - 108px);background: white;}
    .nodata img{display: block;}
    .nodata p{margin:20px auto;}

    /* splash */
    #splash{position: fixed;top:0;left:0;width:100%;height:100dvh;background: white;display: flex;align-items: center;justify-content: center;animation: splash 1.45s ease-out;opacity: 1;z-index: 999;}
    #splash h1{animation: splashImg 2s 0.1s linear;opacity: 0;transform:translateY(7px);}
    @keyframes splash{
        85% {opacity:1;;}
        100% {opacity:0;}
    }
    @keyframes splashImg{
        20% {opacity:1;transform:translateY(2px);}
        35%, 100% {opacity:1;transform:translateY(0);}
    }

    /* page404 */
    .errdata{display:flex;flex-direction: column;align-items: center;justify-content: center;font-size:14px;color:var(--color-txt1);height:100dvh;background: white;}
    .errdata img{display: block;}
    .errdata p{margin:30px auto 20px;}
    .errdata .btnCustom{padding:0 25px;}

    /* search */
    #header > span.back{margin-right:10px;height:100%;display: flex;align-items: center;flex-shrink: 0;}
    #header > span.back a{padding-right:10px;}
    #header.search .searchInput{flex:1;height:32px;border-radius: 32px;background:#f2f2f2;font-size:14px;color:black;padding:0 15px;border:none;}
    #header.search .searchInput::placeholder{color:var(--color-txt3)}

    #searchList{padding:0 15px;overflow-y: auto;max-height: calc(100dvh - 108px);}
    #searchList ul{display:flex;flex-direction: column;padding:10px 0}
    #searchList ul li{background: white;}
    #searchList ul li a{padding:8px 0;display: flex;align-items: center;}
    #searchList ul li .itemThumb{flex-shrink: 0;margin-right:10px;}
    #searchList ul li .itemThumb img{display: block;width:50px;height:50px;border-radius: 50%;overflow: hidden;}
    #searchList ul li .itemInfo{display: flex;justify-content: center;flex-direction: column;}
    #searchList ul li .itemInfo .userName{font-size:14px;font-weight: 500;color:black;margin-bottom:5px}
    #searchList ul li .itemInfo .userName strong{color:var(--color-primary)}
    #searchList ul li .itemInfo .userId{font-size:12px;color:var(--color-txt1)}

    /* -------------------------------------------------------------------- board */
        /* upload */
        .boardUpload{padding:20px 0 20px 15px;display: flex;}
        .boardUpload .myThumbImg{flex-shrink: 0;margin-right:10px;}
        .boardUpload .myThumbImg img{width:42px;height:42px;border-radius: 50%;overflow: hidden;display: block;}
        .boardUpload .uploadDetail{overflow:hidden;}
        .boardUpload .uploadDetail .txtArea{padding:10px 15px 0 0;font-size:14px;color:black;line-height: 1.4;;border:none;width:100%;margin: 0 0 15px;height: auto;}
        .boardUpload .uploadDetail .txtArea::placeholder{color:var(--color-txt3)}

        .boardUpload .uploadDetail .imgArea{overflow: hidden;}
        .boardUpload .uploadDetail .imgArea ul{overflow-x: auto;padding:0 15px 15px 0;display:flex;align-items: center;}
        .boardUpload .uploadDetail .imgArea ul li{flex:1;height:100%;;}
        .boardUpload .uploadDetail .imgArea ul li + li{margin-left:8px;}
        .boardUpload .uploadDetail .imgArea ul li div{position: relative;display: inline-block;}
        .boardUpload .uploadDetail .imgArea ul li div > img{max-height: 230px;border-radius: 10px;height:100%;min-width:170px;display: block;border:0.5px solid var(--color-txt4)}
        .boardUpload .uploadDetail .imgArea ul li .close{position: absolute;right:0;top:0;z-index: 1;padding:5px}
        .boardUpload .uploadDetail .imgArea ul li .close img{display: block;}

        .boardUpload .inputFile{position: fixed;right:15px;bottom:15px;z-index: 99;;}
        .boardUpload .inputFile label input{display: none;}
        .boardUpload .inputFile label img{display: block;}

        /* comment */
        #boardDetail{max-height: calc(100dvh - 108px);overflow-y: auto;}

        #boardDetail #feedList .list .imgArea{position:relative;margin:0 0 15px;}
        #boardDetail #feedList .list .imgArea ul{flex-direction: initial;padding:0;overflow: hidden;overflow:initial;align-items: baseline;}
        #boardDetail #feedList .list .imgArea ul > li{height:auto;flex:none;margin:0;}
        #boardDetail #feedList .list .imgArea .postPag{position: absolute;left:50%;bottom:10px;top:auto;transform: translateX(-50%);z-index: 1;display:flex;align-items: center;justify-content: center;padding:0;}
        #boardDetail #feedList .list .imgArea .postPag span{opacity:1;margin:0 3px;width:6px;height:6px;border-radius: 50%;background:white;transition: 0.1s;}
        #boardDetail #feedList .list .imgArea .postPag span.swiper-pagination-bullet-active{background: var(--color-primary);}
        
        #boardDetail .boardArea .comInfo{border-top:1px solid var(--color-txt4)}
        #boardDetail .boardArea .comInfo ul{display: flex;flex-direction: column;padding:13px 0;}
        #boardDetail .boardArea .comInfo ul li{padding:8px 15px;background: beige;}
        #boardDetail .boardArea .comInfo ul li + li{}

        #boardDetail .boardArea .comInfo ul li{padding:8px 15px;background: white;}
        #boardDetail .boardArea .comInfo ul li .comInner{display: flex;}
        #boardDetail .boardArea .comInfo ul li .comInner .userImg{flex-shrink: 0;margin-right:16px;}
        #boardDetail .boardArea .comInfo ul li .comInner .userImg img{width:36px;height:36px;border-radius: 50%;overflow: hidden;display: block;}
        #boardDetail .boardArea .comInfo ul li .comInner .comDetail{overflow:hidden;width:100%;}
        #boardDetail .boardArea .comInfo ul li .comInner .comDetail .userArea{display:flex;align-items: flex-start;justify-content: space-between;}
        #boardDetail .boardArea .comInfo ul li .comInner .comDetail .userArea a{display:flex;align-items: baseline;}
        #boardDetail .boardArea .comInfo ul li .comInner .comDetail .userArea .userName{font-weight: 500;font-size:14px;color:black;line-height: 1.3;padding:6px 0 0}
        #boardDetail .boardArea .comInfo ul li .comInner .comDetail .userArea .uploadDate{font-size:10px;color:var(--color-txt1);margin-left:5px;flex-shrink: 0;position: relative;top:-1px}
        #boardDetail .boardArea .comInfo ul li .comInner .comDetail .userArea .moreInfo{flex-shrink: 0;position:relative;right:-2px;}
        #boardDetail .boardArea .comInfo ul li .comInner .comDetail .userArea .moreInfo img{width:20px;}
        #boardDetail .boardArea .comInfo ul li .comInner .comDetail .txtArea{padding:15px 10px 0 0;font-size:14px;color:black;line-height: 1.4;;border:none;width:auto;}
        #boardDetail .boardArea .comInfo ul li .comInner .comDetail .dateArea{font-size:10px;color:var(--color-txt1)}

        #boardDetail .commentArea{position: fixed;left:0;bottom:0;width:100%;height:60px;z-index: 99;background:white;border-top: 1px solid var(--color-txt4);overflow: hidden;display: flex;align-items: center;}
        #boardDetail .commentArea .comfile{padding:0 15px;flex-shrink: 0;}
        #boardDetail .commentArea .comfile img{width:36px;height:36px;display:block;}
        #boardDetail .commentArea .commentTxt{border:none;height:100%;width:-webkit-fill-available;background: white;width:-moz-available}
        #boardDetail .commentArea .btnSend{border:none;background: none;color:var(--color-primary);font-weight: 500;font-size:14px;padding:15px;;flex-shrink: 0;}
        #boardDetail .commentArea .commentTxt::placeholder,
        #boardDetail .commentArea .btnSend:disabled{color: var(--color-txt3);}

    /* -------------------------------------------------------------------- product */
        /* upload */
        .prdWrap .customForm{padding:30px 35px 0;}

        .prdWrap .prdImg{padding:0 0 60px;text-align: center;display: block;}
        .prdWrap .prdImg label{position: relative;width:100%;height:auto;text-align: left;}
        .prdWrap .prdImg label::before{content:"";display: block;position: absolute;right:10px;bottom:-20px;width:36px;height:36px;background: url(../img/img-button.png) no-repeat 50% /cover;z-index: 1;}
        .prdWrap .prdImg label::after{content: "";display: block;padding-bottom: 59%;}
        .prdWrap .prdImg input{display: none;}
        .prdWrap .prdImg label img{position:absolute;width:100%;height:100%;display: block;left:0;top:0;;border-radius: 10px;overflow: hidden;border:1px solid var(--color-txt4);margin:30px 0 0;}

    /* -------------------------------------------------------------------- member */
        /* login */
        .log #contents{background: var(--color-primary-bg);}
        .logWrap .logo{height:calc(100dvh - 320px);display: flex;align-items: center;justify-content: center;}
        .logWrap .logo img{animation: bounce 1.5s ease-out alternate infinite;}
        @keyframes bounce {
            0% {transform:translateY(10px) rotate(4deg);}
            20% {transform:translateY(-3px) rotate(0);}
            80% {transform:translateY(4px) rotate(-2deg);}
            60%, 100% {transform:translateY(0) rotate(0);}
          }

        .logWrap .logArea{background: white;min-height: 320px;border-radius: 20px 20px 0 0;position: fixed;left:0;bottom:0;z-index: 1;width: 100%;padding:50px 35px 0}

        .logArea .snsArea{margin:0 0 20px;display: flex;flex-direction: column;justify-content: center;}
        .logArea .snsArea li{font-size:14px;color: var(--color-txt1);height:44px;border-radius: 20px;border:1px solid #F2C94C;background: white;transition: 0.1s;overflow: hidden;}
        .logArea .snsArea li:hover{background: rgba(242,201,76,0.05);}
        .logArea .snsArea li.google{border-color:var(--color-txt1)}
        .logArea .snsArea li.google:hover{background: rgba(118,118,118,0.05);}
        .logArea .snsArea li.facebook{border-color:#2D9CDB}
        .logArea .snsArea li.facebook:hover{background: rgba(42,156,219,0.05);}
        .logArea .snsArea li + li{margin:10px 0 0;}
        .logArea .snsArea li a{height:100%;display: flex;align-items: center;justify-content: center;position: relative}
        .logArea .snsArea li a span{width:24px;height:24px;position: absolute;left:15px;top:50%;transform: translateY(-50%);} 
        .logArea .snsArea li a span img{display: block;}
        
        .logArea .logInfo{display: flex;align-items:center;justify-content: center;font-size:12px;color:var(--color-txt1)}
        .logArea .logInfo li{}
        .logArea .logInfo li + li{padding: 0 0 0 12px;margin:0 0 0 10px;position: relative;}
        .logArea .logInfo li + li::before{content: "";display:block;width:1px;height:10px;background: var(--color-txt3);position: absolute;left:1px;top:50%;transform: translateY(-50%);}
        
        /* login - email */
        #titleArea{padding:30px 15px;text-align: center;}
        #titleArea h2{font-size:24px;color:black;font-weight: 500;}
        #titleArea p{font-size:14px;color:var(--color-txt1);font-weight: 400;padding:10px 0 0;}

        .formlabel{display:block;font-weight: 500;font-size:12px;color:var(--color-txt1);}
        .formlabel + .formlabel{margin-top:15px;}
        .formlabel input{display:block;border:none;border-bottom:1px solid var(--color-txt4);height:35px;overflow: hidden;font-size:14px;color:black;width:100%;transition: 0.15s;}
        .formlabel input[type="password"]{letter-spacing: 5px;}
        .formlabel input::placeholder{font-size:14px;color:var(--color-txt4);letter-spacing: normal;}
        .formlabel input:active,
        .formlabel input:focus,
        .formlabel input:focus-visible,
        .formlabel input:focus-within{outline:none;border-color: var(--color-primary);}
        .formlabel.warn input{outline:none;border-color: var(--color-warn);}

        .customForm p.logwarn,
        .formlabel + p.warning{font-weight: 500;font-size:12px;color:var(--color-warn);margin-top:5px;}
        .customForm p.logwarn{display: none;}

        .customForm .btnCustom{margin:30px auto 20px;width:100%;}
        .gotoJoin{font-size:12px;color:var(--color-txt1);text-align: center;}

        /* join */

        /* join - profile */
        .customForm .userImg{margin:0 0 30px;text-align: center;display: block;}
        .customForm .userImg label{display: inline-block;position: relative;}
        .customForm .userImg label::after{content:"";display: block;position: absolute;right:0;bottom:0;width:36px;height:36px;background: url(../img/upload-file.png) no-repeat 50% /cover;}
        .customForm .userImg input{display: none;}
        .customForm .userImg label img{width:110px;height:110px;border-radius: 50%;overflow: hidden;display: block;}

    /* -------------------------------------------------------------------- profile */
        /* profile */
        #header.hasmenu{padding-right:10px;}
        #header .moremenu{flex-shrink: 0;cursor: pointer;}
        #header .moremenu img{display: block}

        #profileList{background:#f2f2f2;height: calc(100dvh - 107px);overflow-y: auto;}
        #profileList .proSec{background:white;border-bottom:1px solid var(--color-txt4)}
        #profileList .proSec + .proSec{margin-top:5px;border-top:1px solid var(--color-txt4)}

        #profileList .profileIntro{padding:30px 15px 25px;}
        #profileList .profileIntro > ul{display: flex;;align-items: center;justify-content: center;}
        #profileList .profileIntro > ul.infoRelation{justify-content: space-between;margin:0 auto 15px;position: relative;min-height: 110px;max-width:295px;padding:0 15px;}
        #profileList .profileIntro > ul.infoRelation li{font-size:10px;color: var(--color-txt1);text-align: center;}
        #profileList .profileIntro > ul.infoRelation li a{font-size:18px;font-weight: 700;}
        #profileList .profileIntro > ul.infoRelation li.followers a{color:black;}
        #profileList .profileIntro > ul.infoRelation li p{margin-top:5px;}
        #profileList .profileIntro > ul.infoRelation li.userImg{position: absolute;left:50%;top:50%;transform: translate(-50%,-50%);}
        #profileList .profileIntro > ul.infoRelation li.userImg img{width:110px;height:110px;border-radius: 50%;display: block;}

        #profileList .profileIntro > ul.infoUser{flex-direction: column;margin-bottom:25px;}
        #profileList .profileIntro > ul.infoUser li.userName{font-weight: 700;font-size:16px;color:black;margin-bottom:5px;}
        #profileList .profileIntro > ul.infoUser li.userId{font-size:12px;color:var(--color-txt1);margin-bottom:15px;}
        #profileList .profileIntro > ul.infoUser li.userIntro{font-size:14px;color:var(--color-txt1);line-height: 1.3;word-break: keep-all;text-align: center;}

        #profileList .profileIntro > ul.infoTab{}
        #profileList .profileIntro > ul.infoTab li{display: flex;align-items: center;justify-content: center;}
        #profileList .profileIntro > ul.infoTab li .btnCustom{margin:0 10px;}
        #profileList .profileIntro > ul.infoTab li .chat,
        #profileList .profileIntro > ul.infoTab li .share{width:34px;height:34px;border:1px solid var(--color-txt4);display: flex;align-items: center;justify-content: center;border-radius: 50%;}
        #profileList .profileIntro > ul.infoTab li .chat img{width:20px;}
        #profileList .profileIntro > ul.infoTab li.manager a{padding:0;margin:0 6px}
        #profileList .profileIntro > ul.infoTab li.manager .editProfile{width:120px;}
        #profileList .profileIntro > ul.infoTab li.manager .editPrd{width:100px;}
        #profileList.member .profileIntro > ul.infoTab li.manager{display:none;}
        #profileList.manager .profileIntro > ul.infoTab li.manager{display:flex;}
        #profileList.manager .profileIntro > ul.infoTab li.member{display:none;}

        /* prdList */
        #profileList .profilePrd{padding:20px 0 7px;}
        #profileList .profilePrd h3{font-size:16px;color:black;font-weight: 700;margin-bottom:15px;padding:0 15px}
        #profileList .profilePrd ul{display: flex;align-items: flex-start;justify-content: left;width:100%;padding:0 15px 13px;overflow-x: auto;}
        #profileList .profilePrd ul li{width:140px;flex-shrink: 0;}
        #profileList .profilePrd ul li .prdThumb{margin:0 0 7px}
        #profileList .profilePrd ul li .prdThumb img{border-radius: 8px;display: block;}
        #profileList .profilePrd ul li .prdName{margin:0 0 4px;display:-webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow: ellipsis;overflow: hidden;font-size:14px;color:black;}
        #profileList .profilePrd ul li .prdPrice{font-size:12px;color:var(--color-primary);font-weight: 700;}
        #profileList .profilePrd ul li .prdPrice span{font-weight: 700;}
        #profileList .profilePrd ul li + li{margin-left:10px;}

        /* boardList */
        #profileList .profileBoard .boardTab{height:44px;display: flex;align-items: center;justify-content: right;padding:0 15px;border-bottom:0.5px solid var(--color-txt4)}
        #profileList .profileBoard .boardTab li{cursor: pointer;}
        #profileList .profileBoard .boardTab li + li{margin-left:15px;}
        #profileList .profileBoard .boardTab li img{display: block;;}
        #profileList .profileBoard .boardTab li img.on{display: none;;}
        #profileList .profileBoard .boardTab li.active img.on{display: block;;}
        #profileList .profileBoard .boardTab li.active img.off{display: none;;}

        #feedList{height:calc(100dvh - 108px);overflow-y: auto;}
        #feedList .list > ul{padding:10px 0}
        #feedList .list > ul > li{padding:10px 15px;background: white;}
        #boardDetail #feedList,
        .profileBoard #feedList{height:auto;}
        .profileBoard #feedList .list > ul{padding:5px 0;}
        
        #feedList .list > ul > li .feedInner{display: flex;}
        #feedList .list > ul > li .feedInner .myThumbImg{flex-shrink: 0;margin-right:10px;}
        #feedList .list > ul > li .feedInner .myThumbImg img{width:42px;height:42px;border-radius: 50%;overflow: hidden;display: block;}

        #feedList .list > ul > li .feedInner .uploadDetail{overflow:hidden;width:100%;}
        #feedList .list > ul > li .feedInner .uploadDetail .userArea{display:flex;align-items: flex-start;justify-content: space-between;}
        #feedList .list > ul > li .feedInner .uploadDetail .userArea .userName{font-weight: 500;font-size:14px;color:black;line-height: 1.3;padding:0 0 3px}
        #feedList .list > ul > li .feedInner .uploadDetail .userArea .userId{font-size:12px;color:var(--color-txt1);;}
        #feedList .list > ul > li .feedInner .uploadDetail .userArea .moreInfo{flex-shrink: 0;position:relative;right:-2px;}

        #feedList .list > ul > li .feedInner .uploadDetail .txtArea{padding:15px 0;font-size:14px;color:black;line-height: 1.4;;border:none;width:auto;}

        #feedList .list > ul > li .feedInner .uploadDetail .imgArea{overflow: hidden;}
        #feedList .list > ul > li .feedInner .uploadDetail .imgArea ul{overflow-x: auto;display:flex;flex-direction: column;padding:0 0 15px}
        #feedList .list > ul > li .feedInner .uploadDetail .imgArea ul li{flex:1;height:100%;;}
        #feedList .list > ul > li .feedInner .uploadDetail .imgArea ul li + li{margin-top:8px;}
        #feedList .list > ul > li .feedInner .uploadDetail .imgArea ul li div > img{border-radius: 10px;width:100%;display: block;border:0.5px solid var(--color-txt4)}
        
        #feedList .list > ul > li .feedInner .uploadDetail .iconArea{padding:0 0 15px;}
        #feedList .list > ul > li .feedInner .uploadDetail .iconArea ul{display: flex;align-items: center;}
        #feedList .list > ul > li .feedInner .uploadDetail .iconArea ul li,
        #feedList .list > ul > li .feedInner .uploadDetail .iconArea ul li a{display:flex;align-items: center;;}
        #feedList .list > ul > li .feedInner .uploadDetail .iconArea ul li span{width:20px;height:20px;}
        #feedList .list > ul > li .feedInner .uploadDetail .iconArea ul li strong{margin-left: 5px;font-size: 12px;color:var(--color-txt1);}
        #feedList .list > ul > li .feedInner .uploadDetail .iconArea ul li + li{margin-left: 15px;}
        #feedList .list > ul > li .feedInner .uploadDetail .iconArea ul li.like .iconLiked{display:none;}
        #feedList .list > ul > li .feedInner .uploadDetail .iconArea ul li.like.active .iconLike{display:none;}
        #feedList .list > ul > li .feedInner .uploadDetail .iconArea ul li.like.active .iconLiked{display:block;}
        
        #feedList .list > ul > li .feedInner .uploadDetail .dateArea{font-size:10px;color:var(--color-txt1)}
        
        #profileList .profileBoard .boardDetail .album > ul{display: flex;flex-wrap: wrap;}
        #profileList .profileBoard .boardDetail .album > ul > li{margin:0 8px 8px 0;width:calc((100% - 16px) / 3)}
        #profileList .profileBoard .boardDetail .album > ul > li:nth-child(3n){margin:0 0 8px}
        #profileList .profileBoard .boardDetail .album > ul > li.morePic a{position: relative;}
        #profileList .profileBoard .boardDetail .album > ul > li.morePic a::after{content:"";display:block;position: absolute;top:5px;right:5px;width:20px;height:20px;background:url(../img/icon/iccon-img-layers.svg) no-repeat 50% /cover;}
        #profileList .profileBoard .boardDetail .album > ul > li img{display: block;}

        /* follow */
        #followList{padding:0 15px;overflow-y: auto;max-height: calc(100dvh - 108px);}
        #followList ul{display:flex;flex-direction: column;padding:10px 0}
        #followList ul li{background: white;display: flex;align-items: center;justify-content: space-between;}
        #followList ul li a{padding:8px 0;display: flex;align-items: center;width: 100%;}
        #followList ul li .itemThumb{flex-shrink: 0;margin-right:10px;}
        #followList ul li .itemThumb img{display: block;width:50px;height:50px;border-radius: 50%;overflow: hidden;border:1px solid var(--color-txt4)}
        #followList ul li .itemInfo{display: flex;justify-content: center;flex-direction: column;margin-right:15px;}
        #followList ul li .itemInfo .userName{font-size:14px;font-weight: 500;color:black;margin-bottom:5px}
        #followList ul li .itemInfo .userIntro{font-size:12px;color:var(--color-txt1);display:-webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow: ellipsis;overflow: hidden}

        #followList ul li .itemBtn{justify-self: flex-end;}

        /* modify */
        .profileWrap .customForm{padding:30px 35px 0;}

    /* -------------------------------------------------------------------- chat */
        /* list */
        #chatList{padding:0 15px;overflow-y: auto;max-height: calc(100dvh - 108px);}
        #chatList ul{display:flex;flex-direction: column;padding:15px 0}
        #chatList ul li{background: white;}
        #chatList ul li a{padding:10px 0;display: flex;align-items: center;}
        #chatList ul li .itemThumb{flex-shrink: 0;margin-right:10px;position: relative;}
        #chatList ul li.new .itemThumb::before{content: "";display: block;width:12px;height:12px;background: var(--color-primary);position: absolute;top:0;left:0;border-radius: 50%;}
        #chatList ul li .itemThumb img{display: block;width:42px;height:42px;border-radius: 50%;overflow: hidden;}
        #chatList ul li .itemInfo{display: flex;justify-content: center;flex-direction: column;width:100%;}
        #chatList ul li .itemInfo .userName{font-size:14px;font-weight: 500;color:black;margin-bottom:5px}
        #chatList ul li .itemInfo .userTxt{font-size:12px;color:var(--color-txt1);display:flex;align-items: baseline;justify-content: space-between;}
        #chatList ul li .itemInfo .userTxt > span{display:-webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow: ellipsis;overflow: hidden;}
        #chatList ul li .itemInfo .userTxt .date{font-size:10px;color:var(--color-txt4);margin-left:15px;}

        /* detail */
        #header.chat.detail .back a{flex-shrink: 0;}
        #header.chat.detail h2{display:-webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;text-overflow: ellipsis;overflow: hidden;}

        #chatDetail{padding:0 0 60px;height:calc(100vh - 48px);background: #f2f2f2;_transition: 0.2s;}
        #chatDetail .chatArea{height:calc(100vh - 108px);display: flex;align-items: flex-start;}
        #chatDetail ul{display: flex;flex-direction: column;;overflow-y: auto;max-height: 100%;width:100%;padding:20px 15px 10px;}
        #chatDetail ul li{display:flex;margin-bottom:10px;}
        #chatDetail ul li img{display:block;max-width: 240px;border-radius: 10px;}

        #chatDetail ul li .senderImg{margin-right:10px;flex-shrink: 0;}
        #chatDetail ul li .senderImg img{width:42px;height:42px;border-radius: 50%;overflow:hidden;}
        #chatDetail ul li .message p{max-width:240px;border:1px solid var(--color-txt3);background:white;border-radius:0 10px 10px 10px;padding:10px 10px 7px;font-size:14px;color:black;line-height: 1.4;}
        #chatDetail ul li .date{font-size:10px;color:var(--color-txt1);margin:0 0 0 6px;align-self: flex-end;}

        #chatDetail ul li.recipient{align-self: flex-end;}
        #chatDetail ul li.recipient .message{order:2;}
        #chatDetail ul li.recipient .message p{border-color:var(--color-primary);background:var(--color-primary);border-radius:10px 0 10px 10px;color:white;}
        #chatDetail ul li.recipient .date{order:1;margin:0 6px 0 0;}

        #chatDetail .sendArea{position: fixed;left:0;bottom:0;width:100%;height:60px;z-index: 99;background:white;border-top: 1px solid var(--color-txt4);overflow: hidden;display: flex;align-items: center;}
        #chatDetail .sendArea .sendfile{padding:0 15px;flex-shrink: 0;}
        #chatDetail .sendArea .sendfile input{display: none;}
        #chatDetail .sendArea .sendfile img{width:36px;height:36px;display:block;}
        #chatDetail .sendArea .sendTxt{border:none;_height:calc(100% - 20px);width:-webkit-fill-available;background: white;width:-moz-available;max-height:34px;resize: none;}
        #chatDetail .sendArea .btnSend{border:none;background: none;color:var(--color-primary);font-weight: 500;font-size:14px;padding:15px;;flex-shrink: 0;}
        #chatDetail .sendArea .sendTxt::placeholder,
        #chatDetail .sendArea .btnSend:disabled{color: var(--color-txt3);}

/* custom modal */
#customModal{position: fixed;left:0;top:0;width:100%;height:100%;z-index: 1000;background: rgba(0,0,0,0.1);display:none;}
#customModal #modalWrap{background:white;width:100%;border-radius: 10px 10px 0 0;z-index: 1;position: absolute;left:50%;bottom:0;transform: translateX(-50%);}
#customModal #modalWrap .close{height:35px;position: relative;}
#customModal #modalWrap .close::after{content:"";display:block;width:50px;height:4px;border-radius: 5px;background: var(--color-txt4);position: absolute;left:50%;top:50%;transform: translate(-50%,-50%);}
#customModal #modalWrap > ul{display:flex;flex-direction: column;padding:0 0 10px;}
#customModal #modalWrap > ul > li a{display:flex;align-items: center;padding:15px 25px;font-size:14px;color:black;}

#modalWrap > ul > li.menu{display: none;}
    /* 상품 */
        /* user */
        #modalWrap.product > ul > li.delete,
        #modalWrap.product > ul > li.edit,
        #modalWrap.product > ul > li.showPrd{display: block;}
        
    /* 게시물 */
        /* user */
        #modalWrap.board > ul > li.reportSpam{display: block;}
        /* manager */
        #modalWrap.board.manager > ul > li.delete,
        #modalWrap.board.manager > ul > li.edit{display: block;}
        #modalWrap.board.manager > ul > li.reportSpam{display: none;}
        
    /* 게시물 댓글 */
        /* user */
        #modalWrap.comment > ul > li.reportSpam{display: block;}
        /* manager */
        #modalWrap.comment.manager > ul > li.delete{display: block;}
        #modalWrap.comment.manager > ul > li.reportSpam{display: none;}

    /* 채팅 */
        /* manager */
        #modalWrap.chat > ul > li.chatOut{display: block;}

    /* 헤더 */
        /* user */
        #modalWrap.option > ul > li.optionInfo,
        #modalWrap.option > ul > li.logout{display: block;}

/* custom alert */
#customAlert{position: fixed;top:50%;left:50%;transform: translate(-50%,-50%);z-index:1001 ;background: white;width:250px;height:110px;border-radius: 10px;overflow: hidden;display: none;}
#customAlert .alertMessage{height:65px;display: flex;align-items: center;justify-content: center;}
#customAlert .alertMessage > span{font-size:16px;font-weight: 500;color:black;display: none;}
#customAlert .btnArea{height:45px;display: flex;align-items: center;border-top:1px solid var(--color-txt4)}
#customAlert .btnArea button{flex:1;border:none;font-size:14px;color:black;background:white;height:100%;display: flex;align-items: center;justify-content: center;}
#customAlert .btnArea button + button{border-left:1px solid var(--color-txt4)}
#customAlert .btnArea button > span{display:none;color:var(--color-primary)}

    /* 로그아웃 */
    #customAlert.logout .alertMessage > span.logout,
    #customAlert.logout .btnArea button > span.logout{display:block;}

    /* 상품삭제 */
    #customAlert.delete.prd .alertMessage > span.prd,
    #customAlert.delete.prd .btnArea button > span.delete{display:block;}
    
    /* 게시물삭제 */
    #customAlert.delete.board .alertMessage > span.board,
    #customAlert.delete.board .btnArea button > span.delete{display:block;}

    /* 신고하기 */
    #customAlert.report .alertMessage > span.report,
    #customAlert.report .btnArea button > span.report{display:block;}
    
